html,
body {
    height: 50%;
    margin: 0;
}

.bg-warning {
    min-height: 100%;
    position: relative;
}

main {
    flex: 1;
}

/* Card */
.card {
    height: 100%;
}

.custom-card-img {
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.custom-card-img:hover {
    transform: scale(1.05);
}

/* End Card */

/* Nav-lnk */
.nav-link {
    transition: color 0.4s ease-in-out;
}

.nav-link:hover,
.nav-link:active {
    color: #000000;
}
/* End Nav-link */

.custom-img {
    height: 300px;
    object-fit: cover;
}

/* Custom Paginate Link Dark */

.dark-theme {
    background-color: #343a40;
    color: #ffffff;
}

.dark-theme:hover {
    background-color: #2c3136;
}

.dark-theme.active {
    background-color: #1e2124;
    border-color: #1e2124;
}

/* End Paginate */

#top-of-cards {
    margin-top: -80px;
}

.custom-heading {
    margin-top: -130px;
}

/* Media query for screens with a maximum width of 767px (typical mobile devices) */
@media (max-width: 767px) {
    /* Change background color to white for nav-link on small screens */
    .navbar {
        background-color: white;
    }

    .nav-link:active {
        color: #000000;
    }
}
