/* Tambahkan di CSS Anda */
.carousel-caption {
    opacity: 0; /* Awalnya elemen tersembunyi */
    transition: opacity 0.5s ease-in-out; /* Efek transisi */
}

.carousel-item:hover .carousel-caption {
    opacity: 1; /* Menampilkan elemen saat dihover */
}

/* Tambahkan di CSS Anda */
.card {
    transition: transform 0.3s ease-in-out; /* Efek transisi */
}

.card:hover {
    transform: scale(1.05); /* Perbesar elemen saat dihover */
}
